.header {
    .header-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        position: absolute;
        top: 0;
        height: 45px;
        width: 100%;
    }
    .nav-link {
        text-decoration: none;
        color: rgb(50, 50, 50);
        font-size: 1.1rem;
        font-weight: 700;
        margin: 0 20px;
        border-bottom: 2px solid #ffffff;
        &:hover {
            color: #61dafb;
            border-bottom: 2px solid #61dafb;
            transition-duration: .2s;
        }
    }
}