.edit-todo {
    margin-top: 80px;
    label {
        display: block;
        font-weight: 700;
        margin: 10px 0;
        font-size: 1.1rem;
    }
    .form-container {
        max-width: 800px;
        border: 1px solid #61dafb;
        margin: auto;
        border-radius: 12px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
    }

    form {
        width: 90%;
        margin: auto;
    }
    input {
        width: 100%;
        height: 40px;
        font-size: 1.1rem;
        border-radius: 12px;
        border: 1px solid #f0f0f0;
        padding-left: 30px;
        background-color: #f0f0f0;
        &:focus {
			outline: none;
			border-radius: 12px;
			border: 1px solid #61dafb;
		}
    }

}