.todo-page {
    margin-top: 80px;
    
    .form-container {
        max-width: 800px;
        border: 1px solid #61dafb;
        margin: auto;
        border-radius: 12px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
    }

    form {
        width: 90%;
        margin: auto;
    }
}